
mixin comment(avatar, name, time, like, description)
    div.comment 
        div.comment__title 
            img(src=require(`@/assets/img/${avatar}`).default, alt="avatar").avatar
            div.name-time 
                p(class="name")=name 
                p=time 
        div.comment__description 
            include ../like-button/like-button.pug
            +like(like)
            p=description