<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon.png">
        title Overview
    body
        main 
            .content-wrapper
                .content__item
                    a(href="landing-page.html")
                        img(src=require('@/assets/img/overview/landing.jpg').default)
                .content__item
                    a(href="search-room.html")
                        img(src=require('@/assets/img/overview/search-room__page.jpg').default)
                .content__item
                    a(href="room-details.html")
                        img(src=require('@/assets/img/overview/room-details__page.jpg').default)
                .content__item
                    a(href="registration.html")
                        img(src=require('@/assets/img/overview/registration__page.jpg').default)
                .content__item
                    a(href="sign-in.html")
                        img(src=require('@/assets/img/overview/sign-in__page.jpg').default)
